<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<footer class="card card-border-footer footer ">

    <!-- Copyright -->
    <div class="card-body ">
        <div style="display: flex;flex-direction: column;align-items: center">
            <a href="/" style=" text-decoration: none !important;color: #939393;padding-left: 15px;font-size: 13px;"
               target="_blank">
                <script type="text/javascript">
                    const d = new Date();
                    let year = d.getFullYear();
                    document.write(" © " + year + " Particle Size Analysis");
                </script>

            </a>
        </div>
    </div>
    <!-- Copyright -->

</footer>
</body>
</html>