{% load static %}


<!DOCTYPE html5>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {#    <link rel="icon" href="../../static/image/jahad_daneshgahi.png" type="image/x-icon">#}
    <script src="{% static 'js/ajax.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" /> -->

    <!-- ----------------------------------------- cdns ------------------------------------- -->

    <script src="{% static 'bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datepicker3.min.css' %}">
    <!-- ----------------------------------------- cdns ------------------------------------- -->


    <style>
        a {
            cursor: pointer;
        }
    </style>

    <style>

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

    </style>

</head>

<body style="position: unset;">

<nav class="navbar navbar-expand-sm navbar-dark primary-color pt-0 pb-0 card-border"
     style="position: unset;height: 160px;display: flex;flex-direction: column">

    <div class="form-row" style="width: 100%">
        {#        <div class="navbar-nav mr-auto " id="basicExampleNav">#}

        {#            <a class="navbar-brand" style="background-color: white;border-radius: 12%;" href="/"><img src="../../static/image/jahad_daneshgahi.png" width="60" height="60"#}
        {#                                                                                                      alt=""></a>#}
        {#            <a class="navbar-brand" style="background-color: white;border-radius: 12%;" href="/"><img src="../../static/image/jahad_daneshgahi.png" width="60" height="60"#}
        {#                                                                                                  alt=""></a>#}
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active ex1">
                <a class="navbar-brand" style="background-color: white;border-radius: 12%;" href="/"><img
                        src="../../static/image/jahad_daneshgahi.png" width="60" height="60"
                        alt=""></a>
                </a>
            </li>

        </ul>
        <div class="alert alert-danger alert-dismissible fade show" style="display:none;text-align: center;"
             id="alertErrorScaner">
            <strong>Scan Failled</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible fade show"
                         style="display: block;text-align: center; margin-right: 50px"
                         id="alert">
                        <strong>{{ message }} </strong>
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible fade show"
                         style="display: block;text-align: center;margin-right: 50px" id="alert">
                        <strong>{{ message }}</strong>
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
        <div class="alert-messages"></div>
        <ul class="navbar-nav ">
            <li class="nav-item active ex1">
                <a class="navbar-brand" style="background-color: white;border-radius: 12%;" href="/"><img
                        src="../../static/image/jahad_daneshgahi.png" width="60" height="60"
                        alt=""></a>
                </a>
            </li>

        </ul>

        {#            <div class="form-row" style="padding-top: 0.75rem;">#}
        {#                <div class="col-xl-12 col-lg-12 " style="display: flex;flex-direction: row; direction: rtl;">#}
        {#                    <div class="myTriggerNav" id="myTriggerNav">#}
        {#                        <a class="navbar-brand" style="background-color: white;border-radius: 12%;" href="/"><img src="../../static/image/jahad_daneshgahi.png" width="60" height="60"#}
        {#                                                                                                              alt=""></a>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    <div class="form-row" style="width: 100%">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  navbar-expand-sm" id="basicExampleNav">


            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ex1">
                    <a class="nav-link " id="ex1"
                       onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/'}">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active ex1">
                    <a class="nav-link ex1" id="myTriggerSetting">Setting</a>

                    <span class="sr-only"></span>
                </li>
                <li class="nav-item active ex1">
                    <a class="nav-link ex1" id="myTriggerReport">Report</a>

                    <span class="sr-only"></span>
                </li>
            </ul>


            <form class="form-inline">

                <div class="form-row" style="padding-top: 0.75rem;">
                    <div class="col-xl-12 col-lg-12 " style="display: flex;flex-direction: row; direction: rtl;">
                        <div class="myTriggerNav" id="myTriggerNav">
                            <a class="ex1 mr-1 " style="cursor:pointer !important;" id="ex1">
                                <img style="height: 20px;margin-left: -53px;" src="{% static 'image/logout-8.png' %}">
                            </a>
                        </div>
                        {#            <a class="ex1 mr-2 " style="cursor:pointer !important;" id="passwordModal">#}
                        {#              Password |#}
                        {#            </a>#}

                        {#            <h6 class="mr-2 mb-0" style="right: 0; font-size: 14px;#}
                        {#            line-height: 1.42857143;" id="username">( {{name}} )</h6>#}
                    </div>


                </div>
            </form>
        </div>


    </div>


</nav>


</div>
<div class="myModalNav" id="myModalNav">
    <div class="myModal-contentNav" id="myModal-contentNav">
        <!-- <span class="myClose-button" id="myClose-button"></span> -->
        <div class="card">
            <div class="card-body">
                <h3 style="text-align: center;font-size: 1.25rem !important ;margin-bottom: 1.5rem !important;">Are you
                    sure?
                </h3>
                <div class="row col-xl-12 m-0" style="text-align: center;">

                    <div class="col-6">
                        <!-- <input type="submit"  class="btn btn-outline-success btn-sm btn-font "  value="Yes" > -->
                        <a href="/logout" class="btn btn-outline-success btn-sm btn-font ">Yes</a>
                    </div>
                    <div class="col-6" href="/" style="direction: rtl;">
                        <botton href="/recordResults" class="btn btn-outline-danger btn-sm btn-font myClose-buttonNav">
                            No
                        </botton>

                        <!-- <botton type="button"  href="/recordResults"  class="btn btn-outline-danger btn-sm btn-font "  value="No" > -->
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


<div class="myModalSetting" id="myModalSetting">
    <div class="myModalSetting-contentNav" id="myModal-contentNav">
        <!-- <span class="myClose-button" id="myClose-button"></span> -->
        <div class="card">
            <div class="card-body">
                <h3 style="text-align: center;font-size: 1.25rem !important ;margin-bottom: 1.5rem !important;">
                    Camera Settings</h3>
                <hr>
                <div class="" style="text-align: center;margin: 20px">
                    <div class="col-12" href="/" style="direction: rtl;">
                        <div class="form-row col-xl-12">
                            <div class="col-xl-6 form-row card-border-footer" style="padding: 9px">
                                <div class="col-xl-12 form-row " style="text-align: right;">
                                    <label class="col-xl-3">نمونه برداری هر </label>
                                    <input class="col-xl-2" value="0" type="number">
                                    <label class="col-xl-5">ثانیه انجام شود</label>

                                </div>
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <input style="text-align: right;height: 15px;" class="col-xl-1" type="checkbox">
                                    <label style="text-align: right;" class="col-xl-10">هر نمونه به صورت مجزا پردازش
                                        شود</label>

                                </div>
                                <div class="col-xl-12 form-row " style="text-align: right;">
                                    <label class="col-xl-1"> هر </label>
                                    <input class="col-xl-2" value="0" type="number">
                                    <label class="col-xl-9">هر نمونه به صورت کلی پردازش شود</label>
                                </div>
                                                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <label class="col-xl-6"> کالیبراسین : </label>
                                    <input class="col-xl-6" value="0" type="number" style="height: 25px;">
                                    {#                                    <label class="col-xl-9">هر نمونه به صورت کلی پردازش شود</label>#}
                                </div>
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <input class="col-xl-1" type="radio" name="proccess"
                                           style="height: 15px;text-align: right;">
                                    <label class="col-xl-10" style="text-align: right;">نتایج مستقیما ارزیابی
                                        شود</label>

                                </div>
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <input class="col-xl-1" type="radio" name="proccess"
                                           style="height: 15px;text-align: right;">
                                    <label class="col-xl-10" style="text-align: right;">نتایج به صورت خودکار توسط تاریخ
                                        توزیع تخمین زده شود</label>

                                </div>
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <input class="col-xl-1" type="radio" name="proccess"
                                           style="height: 15px;text-align: right;">
                                    <label class="col-xl-10" style="text-align: right;">نتایج بر اساس نتایج تجربی توسط
                                        تابع توزیع تخمین زده شود</label>
                                </div>
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <div class="col-xl-4 form-row">
                                        <label class="col-xl-6">ضریب (n) </label>
                                        <input class="col-xl-6" value="0" type="number" style="height: 25px;">
                                    </div>
                                    <div class="col-xl-4 form-row">
                                        <label class="col-xl-6">ضریب (x) </label>
                                        <input class="col-xl-6" value="0" type="number" style="height: 25px;">
                                    </div>
                                    <div class="col-xl-4 form-row">
                                        <button class="btn btn-primary btn-sm" style="margin: auto">ثبت ضرایب</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 form-row card-border-footer" style="margin-right: 20px">
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <label class="col-xl-6"> کالیبراسین : </label>
                                    <input class="col-xl-6" value="0" type="number" style="height: 25px;">
                                    {#                                    <label class="col-xl-9">هر نمونه به صورت کلی پردازش شود</label>#}
                                </div>
                            </div>

                        </div>
                        <div class="form-row col-xl-12">
                            <div class="col-xl-12 form-row card-border-footer" style="padding: 9px">
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <input class="col-xl-1" type="radio" name="proccess"
                                           style="height: 15px;text-align: right;">
                                    <label class="col-xl-10" style="text-align: right;">نتایج مستقیما ارزیابی
                                        شود</label>

                                </div>
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <input class="col-xl-1" type="radio" name="proccess"
                                           style="height: 15px;text-align: right;">
                                    <label class="col-xl-10" style="text-align: right;">نتایج به صورت خودکار توسط تاریخ
                                        توزیع تخمین زده شود</label>

                                </div>
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <input class="col-xl-1" type="radio" name="proccess"
                                           style="height: 15px;text-align: right;">
                                    <label class="col-xl-10" style="text-align: right;">نتایج بر اساس نتایج تجربی توسط
                                        تابع توزیع تخمین زده شود</label>
                                </div>
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <div class="col-xl-4 form-row">
                                        <label class="col-xl-6">ضریب (n) </label>
                                        <input class="col-xl-6" value="0" type="number" style="height: 25px;">
                                    </div>
                                    <div class="col-xl-4 form-row">
                                        <label class="col-xl-6">ضریب (x) </label>
                                        <input class="col-xl-6" value="0" type="number" style="height: 25px;">
                                    </div>
                                    <div class="col-xl-4 form-row">
                                        <button class="btn btn-primary btn-sm" style="margin: auto">ثبت ضرایب</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row col-xl-12">
                            <div class="col-xl-12 form-row card-border-footer" style="padding: 9px">
                                <div class="col-xl-12 form-row " style="padding: 9px">
                                    <input class="col-xl-1" type="checkbox" style="height: 15px;text-align: right;">
                                    <label class="col-xl-10" style="text-align: right;">از الگریتم جدا سازی برای تفکیک
                                        بیشتر ذرات استفاده شود.</label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-xl-12 m-0" style="text-align: center;">
                    <div class="col-6" href="/" style="direction: rtl;">
                        <botton href="/recordResults"
                                class="btn btn-outline-danger btn-sm btn-font myClose-buttonSetting">
                            انصراف
                        </botton>

                        <!-- <botton type="button"  href="/recordResults"  class="btn btn-outline-danger btn-sm btn-font "  value="No" > -->
                    </div>
                    <div class="col-6">
                        <!-- <input type="submit"  class="btn btn-outline-success btn-sm btn-font "  value="Yes" > -->
                        <a href="" style="width: 57px;" class="btn btn-outline-success btn-sm btn-font ">تایید</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<div class="myModalReport" id="myModalReport">
    <div class="myModalReport-contentNav" id="myModal-contentNav">
        <!-- <span class="myClose-button" id="myClose-button"></span> -->
        <div class="card">
            <div class="card-body">
                <h3 style="text-align: center;font-size: 1.25rem !important ;margin-bottom: 1.5rem !important;">
                    Report</h3>
                <hr>
                <div class="" style="text-align: center;margin: 20px">
                    <div class="col-12" href="/" style="direction: rtl;">
                        <div class="form-row col-xl-12">
                            <div style="overflow: auto;">
                                <table class="label-class" style="margin-top: 1.55 ;overflow: visible !important;">
                                    <tr>
                                        <th> Id </th>
                                        <th> Date </th>
                                        <th> Chart 1 </th>
                                        <th>Chart 2 </th>
                                        <th>Chart 3 </th>
                                        <th>Chart 3 </th>
                                        <th>Chart 3 </th>
                                        <th>Chart 3 </th>
                                        <th>Chart 3 </th>
                                        <th>Chart 3 </th>
                                        <th>Chart 3 </th>
                                        <th>Chart 3 </th>
{#                                        <th>Submit Date</th>#}
{#                                        <th>ُLaboratory Code</th>#}
{#                                        <th>Group Code</th>#}
{#                                        <th>Test Result</th>#}
{#                                        <th>Operation</th>#}
                                    </tr>
{#                                    {% for obj in data.customers %}#}
                                    <tr>
                                        <td> 1 </td>
                                        <td> 2023/06/04 </td>
                                        <td> 20 </td>
                                        <td> 30 </td>
                                        <td> 40 </td>
                                        <td> 40 </td>
                                        <td> 40 </td>
                                        <td> 40 </td>
                                        <td> 40 </td>
                                        <td> 40 </td>
                                        <td> 40 </td>
                                        <td> 40 </td>
                                    </tr>
{#                                    {% endfor %}#}
                                </table>
                                {% if data.lastPage >= 1 %}
                                <nav class="Page navigation example">
                                    {% csrf_token %}
                                    <ul class="pagination pg-blue">
                                        <div action="?pageNumber=0" method="POST" style="position: unset;"
                                            class="formpage">
                                            {% csrf_token %}
                                            <li class="page-item">
                                                <a href="?pageNumber=0" class="page-link"
                                                    id="tablLi{{ forloop.counter }}"
                                                    style="position: unset;">&laquo;</a>
                                            </li>
                                        </div>


                                        {% for page in data.total %}
                                        {% if page < data.thisPage|add:'-2' %}
                                        {% if forloop.counter0 == 0 %}
                                        <div style="position: unset;" class="formpage">
                                            {% csrf_token %}
                                            <li class="page-item">
                                                <a href="?pageNumber={{data.thisPage|add:'-3'}}" class="page-link"
                                                    id="tablLi{{ forloop.counter }}" style="position: unset;">....</a>
                                            </li>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                        {% if page > data.thisPage|add:'-3' and page < data.thisPage|add:'3' %}

                                        {% if data.thisPage == page %}
                                        <div style="position: unset;" class="formpage">
                                            {% csrf_token %}
                                            <li class="page-item active">
                                                <a href="?pageNumber={{page}}" class="page-link"
                                                    id="tablLi{{ forloop.counter }}"
                                                    style="position: unset;">{{ forloop.counter }}</a>
                                            </li>
                                        </div>
                                        {% else %}
                                        <div style="position: unset;" class="formpage">
                                            {% csrf_token %}
                                            <li class="page-item">
                                                <a href="?pageNumber={{page}}" class="page-link"
                                                    id="tablLi{{ forloop.counter }}"
                                                    style="position: unset;">{{ forloop.counter }}</a> </li>
                                        </div>
                                        {% endif %}
                                        {% else %}

                                        {% if forloop.last %}
                                        <div style="position: unset;" class="formpage">
                                            {% csrf_token %}
                                            <li class="page-item">
                                                <a href="?pageNumber={{data.thisPage|add:'3'}}" class="page-link"
                                                    id="tablLi{{ forloop.counter }}" style="position: unset;">....</a>
                                            </li>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}


                                        <div style="position: unset;" class="formpage">
                                            {% csrf_token %}
                                            <li class="page-item">
                                                <a href="?pageNumber={{data.lastPage}}" class="page-link"
                                                    id="tablLi{{ forloop.counter }}"
                                                    style="position: unset;">&raquo;</a> </li>
                                        </div>
                                    </ul>
                                </nav>
                                {% endif %}
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row col-xl-12 m-0" style="text-align: center;">
                    <div class="col-6" href="/" style="direction: rtl;">
                        <botton href="/recordResults"
                                class="btn btn-outline-danger btn-sm btn-font myClose-buttonReport">
                            انصراف
                        </botton>

                        <!-- <botton type="button"  href="/recordResults"  class="btn btn-outline-danger btn-sm btn-font "  value="No" > -->
                    </div>
                    <div class="col-6">
                        <!-- <input type="submit"  class="btn btn-outline-success btn-sm btn-font "  value="Yes" > -->
{#                        <a href="" style="width: 57px;" class="btn btn-outline-success btn-sm btn-font ">تایید</a>#}
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<script>

    var logoutModalSetting = document.querySelector("#myModalSetting");

    var triggerNavSetting = document.querySelector("#myTriggerSetting");

    var closeButtonNavSetting = document.querySelector(".myClose-buttonSetting");


    function toggleModalSetting() {
        logoutModalSetting.classList.toggle("myShow-modalNav");

    }


    function windowOnClickSetting(eventNav) {
        if (eventNav.target === logoutModalSetting) {
            toggleModalSetting();
        }

    }


    triggerNavSetting.addEventListener("click", toggleModalSetting);

    closeButtonNavSetting.addEventListener("click", toggleModalSetting);

    window.addEventListener("click", windowOnClickSetting);


</script>


<script>

    var logoutModalReport = document.querySelector("#myModalReport");

    var triggerNavReport = document.querySelector("#myTriggerReport");

    var closeButtonNavReport = document.querySelector(".myClose-buttonReport");


    function toggleModalReport() {
        logoutModalReport.classList.toggle("myShow-modalNav");

    }


    function windowOnClickReport(eventNav) {
        if (eventNav.target === logoutModalReport) {
            toggleModalReport();
        }

    }


    triggerNavReport.addEventListener("click", toggleModalReport);

    closeButtonNavReport.addEventListener("click", toggleModalReport);

    window.addEventListener("click", windowOnClickReport);


</script>

<div class="myModalNav" id="password">
    <div class="myModal-contentNav" id="myModal-contentNav">
        <!-- <span class="myClose-button" id="myClose-button"></span> -->
        <div class="card">
            <div class="card-body">
                <h3 style="text-align: center;margin-bottom: 1.5rem !important;">Change Password
                </h3>
                <p style="text-align: left; color: rgb(179, 0, 0);">
                    * Attention: A password containing at least 1 uppercase, 1 lowercase, 2 digits and is of length of
                    at least
                    10
                </p>
                <p style="text-align: left;margin-bottom: 1.5rem !important; color: rgb(179, 0, 0);">
                    (ex. Hr12345678)
                </p>
                <div id="messagesPassword" class="alert alert-danger alert-dismissible fade show"
                     style="display: block;text-align: center;display: none;">
                </div>
                <div class="col-xl-12 m-0" style="text-align: center;">
                    <input type="password" class="form-control input-class mb-2" placeholder="New password"
                           id="newPassword">
                    <input type="password" class="form-control input-class mb-3" placeholder="Confirm password"
                           id="confirmPassword">
                    <button class="  btn btn-primary ml-2  btn-sm btn-font" onclick="changPasswordSubmit()">
                        Submit
                    </button>
                    <!-- <input type="submit" class="  btn btn-primary ml-2  btn-sm btn-font"  > -->
                </div>
            </div>

        </div>

    </div>

</div>
</div>


<script>

    var logoutModal = document.querySelector("#myModalNav");

    var triggerNav = document.querySelector("#myTriggerNav");

    var closeButtonNav = document.querySelector(".myClose-buttonNav");


    function toggleModallogout() {
        logoutModal.classList.toggle("myShow-modalNav");

    }


    function windowOnClicklogout(eventNav) {
        if (eventNav.target === logoutModal) {
            toggleModallogout();
        }

    }


    triggerNav.addEventListener("click", toggleModallogout);

    closeButtonNav.addEventListener("click", toggleModallogout);

    window.addEventListener("click", windowOnClicklogout);


</script>

<script>

    var modalNav = document.querySelector("#password");

    var triggerNav = document.querySelector("#passwordModal");

    // var closeButtonNav = document.querySelector(".myClose-buttonNav");


    function toggleModalNav() {
        modalNav.classList.toggle("myShow-modalNav");

    }


    function windowOnClickNav(eventNav) {
        if (eventNav.target === modalNav) {
            toggleModalNav();
        }

    }


    triggerNav.addEventListener("click", toggleModalNav);

    // closeButtonNav.addEventListener("click", toggleModalNav);

    window.addEventListener("click", windowOnClickNav);


</script>


<!-- <script>
function changPsswordModal(){
  console.log("test")
  document.getElementById('ModalChangPassword').display="block"
}
</script> -->


</body>

</html>