{% load static %}


<!DOCTYPE html5>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="{% static 'js/ajax.js' %}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" /> -->
  
  <!-- ----------------------------------------- cdns ------------------------------------- -->

  <script src="{% static 'bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datepicker3.min.css' %}">
  <!-- ----------------------------------------- cdns ------------------------------------- -->
  
  
  <style>
    a {
      cursor: pointer;
    }
  </style>

</head>

<body style="position: unset;">

  <nav class="navbar navbar-expand-xl navbar-dark primary-color pt-0 pb-0 card-border"
    style="background-color: #ffffff !important; position: unset;">


    <a class="navbar-brand" href="/"><img src="../../static/image/logo-alraazi.svg" width="60" height="60"
        alt=""></a>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  navbar-expand-xxl" id="basicExampleNav">


      <ul class="navbar-nav mr-auto ">
        {% if 'COVID19 Manager' in role or 'COVID19 Issuer' in role or 'COVID19 MedicalTest' in role %}
        <li class="nav-item active ex1">
          <a class="nav-link " id="ex1"
            onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/'}">Test
            Registration
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% endif %}
        {% if 'COVID19 Manager' in role or 'COVID19 Doctor' in role or 'COVID19 Top Doctor' in role %}
        
        <!-- <li class="nav-item ">
          <a class="nav-link " id="ex1"
          onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/recordResult'}">Submit
          Result</a>
        </li> -->
        <li class="nav-item dropdown " >
          <a class="nav-link dropdown-toggle " id="ex1" data-toggle="dropdown"
          style="cursor: pointer;color:#183375 !important ;font-size: 14px;" aria-haspopup="true"
          aria-expanded="false">Submit Result</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            {% if 'COVID19 Manager' in role or 'COVID19 Doctor' in role %}
            <a class="dropdown-item " id="ex1" style="color:#183375 !important ;font-size: 14px;"
            onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/recordResult'}">Doctor</a>
            {% endif %}
            {% if 'COVID19 Manager' in role or 'COVID19 Top Doctor' in role %}
            <a class="dropdown-item " id="ex1" style="color:#183375 !important ;font-size: 14px;"
              onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/TopManager'}">Top Manager</a>
              {% endif %}
          </div>
        </li>
        {% endif %}


        {% if 'COVID19 Manager' in role or 'COVID19 Doctor' in role or 'Top Doctor' in role %}
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle " id="ex1" data-toggle="dropdown" style="cursor: pointer;"
            aria-haspopup="true" aria-expanded="false">Inquery</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " id="ex1" style="color:#183375 !important ;font-size: 14px;"
              onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/unArchived'}">Approved
              valid</a>
            <a class="dropdown-item " id="ex1" style="color:#183375 !important ; font-size: 14px; "
              onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/archived'}">Invalid</a>
          </div>
        </li>
        {% endif %}
        {% if 'COVID19 Manager' in role or 'COVID19 Report' in role %}

        <!-- <li class="nav-item ">
          <a class="nav-link " id="ex1" href="/report"
            onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/report'}">Report</a>
        </li> -->
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle " id="ex1" data-toggle="dropdown" style="cursor: pointer;"
            aria-haspopup="true" aria-expanded="false">Report</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " id="ex1" style="color:#183375 !important ;font-size: 14px;"
              onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/report'}">Report Test</a>
            <a class="dropdown-item " id="ex1" style="color:#183375 !important ; font-size: 14px; "
              onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/policyReport'}">Report Policy</a>
            {% if 'COVID19 Manager' in role or 'COVID19 Manager Report' in role  %}
              <a class="dropdown-item " id="ex1" style="color:#183375 !important ; font-size: 14px; "
                onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/managerReport'}">Manager Report</a>
            {% endif %}
            <!-- <a class="dropdown-item " id="ex1" style="color:#183375 !important ; font-size: 14px; "
              onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/managerReport'}">Manager Policy Report</a> -->
          </div>
        </li>

        {% endif %}
        {% if 'COVID19 Manager' in role or 'COVID19 Doctor' in role or 'COVID19 Top Doctor' in role %}

        <li class="nav-item ">
          <a class="nav-link " id="ex1" href="/Dr_reportPage"
            onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/Dr_reportPage'}">Dr.Report</a>
        </li>

        {% endif %}
        {% if 'COVID19 Manager' in role or 'COVID19 Operator' in role %}

        <li class="nav-item ">
          <a class=" nav-link " id="ex1"
            onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/airportSearch'}">Check
            In</a>
        </li>
        {% endif %}
        {% if 'COVID19 Manager' in role or 'COVID19 Visa_Confirm' in role or 'Visa_Confirm' in role %}
        {% endif %}

        <li class="nav-item ">
          <a class=" nav-link " id="ex1"
            onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/confirmInformation'}">
          Confirm Information
          </a>
        </li>
        {% if 'COVID19 Manager' in role or 'COVID19 EmbassyData' in role %}
<!-- 
        <li class="nav-item ">
          <a class=" nav-link " id="ex1"
            onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/visaRequest'}">Visa Request</a>
        </li> -->
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle " id="ex1" data-toggle="dropdown" style="cursor: pointer;"
            aria-haspopup="true" aria-expanded="false">Visa Embassy</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " id="ex1" style="color:#183375 !important ;font-size: 14px;"
              onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/visaRequest'}">Visa Request</a>
            
              <a class="dropdown-item " id="ex1" style="color:#183375 !important ; font-size: 14px; "
              onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/embassyList'}">Embassy List</a>
            
          </div>
        </li>
        {% endif %}

        <li class="nav-item ">
          <a class=" nav-link " id="ex1"
            onClick="{document.getElementById('loader').style.display = 'block',window.location.href='/downloadReport'}">
          Download Schedule
          </a>
        </li>
      </ul>


      <form class="form-inline">

        <div class="form-row" style="padding-top: 0.75rem;">
          <div class="col-xl-12 col-lg-12 " style="display: flex;flex-direction: row; direction: rtl;">
            <div class="myTriggerNav" id="myTriggerNav">
              <a class="ex1 mr-1 " style="cursor:pointer !important;" id="ex1">
                Logout |
              </a>
            </div>
            <a class="ex1 mr-2 " style="cursor:pointer !important;" id="passwordModal">
              Password |
            </a>

            <h6 class="mr-2 mb-0" style="right: 0; font-size: 14px;
            line-height: 1.42857143;" id="username">( {{name}} )</h6>
          </div>


        </div>
      </form>
    </div>


  </nav>



  </div>
  <div class="myModalNav" id="myModalNav">
    <div class="myModal-contentNav" id="myModal-contentNav">
      <!-- <span class="myClose-button" id="myClose-button"></span> -->
      <div class="card">
        <div class="card-body">
          <h3 style="text-align: center;font-size: 1.25rem !important ;margin-bottom: 1.5rem !important;">Are you sure?
          </h3>
          <div class="row col-xl-12 m-0" style="text-align: center;">

            <div class="col-6">
              <!-- <input type="submit"  class="btn btn-outline-success btn-sm btn-font "  value="Yes" > -->
              <a href="/logout" class="btn btn-outline-success btn-sm btn-font ">Yes</a>
            </div>
            <div class="col-6" href="/" style="direction: rtl;">
              <botton href="/recordResults" class="btn btn-outline-danger btn-sm btn-font myClose-buttonNav">No
              </botton>

              <!-- <botton type="button"  href="/recordResults"  class="btn btn-outline-danger btn-sm btn-font "  value="No" > -->
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="myModalNav" id="password">
    <div class="myModal-contentNav" id="myModal-contentNav">
      <!-- <span class="myClose-button" id="myClose-button"></span> -->
      <div class="card">
        <div class="card-body">
          <h3 style="text-align: center;margin-bottom: 1.5rem !important;">Change Password
          </h3>
          <p style="text-align: left; color: rgb(179, 0, 0);">
            * Attention: A password containing at least 1 uppercase, 1 lowercase, 2 digits and is of length of at least
            10
          </p>
          <p style="text-align: left;margin-bottom: 1.5rem !important; color: rgb(179, 0, 0);">
            (ex. Hr12345678)
          </p>
          <div id="messagesPassword" class="alert alert-danger alert-dismissible fade show"
            style="display: block;text-align: center;display: none;">
          </div>
          <div class="col-xl-12 m-0" style="text-align: center;">
            <input type="password" class="form-control input-class mb-2" placeholder="New password" id="newPassword">
            <input type="password" class="form-control input-class mb-3" placeholder="Confirm password"
              id="confirmPassword">
            <button class="  btn btn-primary ml-2  btn-sm btn-font" onclick="changPasswordSubmit()">
              Submit
            </button>
            <!-- <input type="submit" class="  btn btn-primary ml-2  btn-sm btn-font"  > -->
          </div>
        </div>

      </div>

    </div>

  </div>
  </div>


  <script>

    var logoutModal = document.querySelector("#myModalNav");

    var triggerNav = document.querySelector("#myTriggerNav");

    var closeButtonNav = document.querySelector(".myClose-buttonNav");


    function toggleModallogout() {
      logoutModal.classList.toggle("myShow-modalNav");

    }


    function windowOnClicklogout(eventNav) {
      if (eventNav.target === logoutModal) {
        toggleModallogout();
      }

    }


    triggerNav.addEventListener("click", toggleModallogout);

    closeButtonNav.addEventListener("click", toggleModallogout);

    window.addEventListener("click", windowOnClicklogout);


  </script>

  <script>

    var modalNav = document.querySelector("#password");

    var triggerNav = document.querySelector("#passwordModal");

    // var closeButtonNav = document.querySelector(".myClose-buttonNav");


    function toggleModalNav() {
      modalNav.classList.toggle("myShow-modalNav");

    }


    function windowOnClickNav(eventNav) {
      if (eventNav.target === modalNav) {
        toggleModalNav();
      }

    }


    triggerNav.addEventListener("click", toggleModalNav);

    // closeButtonNav.addEventListener("click", toggleModalNav);

    window.addEventListener("click", windowOnClickNav);


  </script>


  <!-- <script>
  function changPsswordModal(){
    console.log("test")
    document.getElementById('ModalChangPassword').display="block"
  }
  </script> -->






</body>

</html>