{% load static %}
<!DOCTYPE html5>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/loader.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
{#    <link rel="icon" href="{% static 'image/jahad_daneshgahi.png' %}" type="image/x-icon">#}
{#    <script src="https://code.jquery.com/jquery-3.4.1.min.js"#}
{#            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>#}

{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>#}

 <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="{% static 'js/jsuites.js' %}"></script>
    <link href="{% static 'css/jsuites.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/slider.scss' %}" rel="stylesheet"/>


    <title>Document</title>

</head>


<div style="width: 100%;display: flex;flex-direction: column;align-items: center">
    <h1 class="" style="margin-bottom: 70px;font-size: 65px;color: white">Particle Size Analysis</h1>
</div>
<body class="body" style="background-image: {% static 'image/peakpx.jpg' %}">
<div style="display: none;" id="loader">
    <div
            style="position: fixed;width: 100%;height: 100%;background-color: black;display: flex;opacity: 50%;;flex-direction: column; ">
        <div class="lds-ring" style="margin: auto auto;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="card card-border col-xl-9 unset_position"
     style="padding: 10px;margin: auto;background-color:#ffffffe0;margin: auto;">

    <div class="form-row col-xl-12 unset_position" style="position: unset">
        <div class=" col-xl-5" style="position: unset !important;margin: auto;">
            <div class="card-body ">


                <div class="" style="display: flex;flex-direction: column;text-align: center">
                    <form action="/" method="POST" id="form1"
                          style="display: flex;flex-direction: column;text-align: center">
                        {% csrf_token %}
                        <input type="submit" class="btn "
                               style="height: 69px;margin-top: 17px;background-color: cornflowerblue;font-size: 13px"
                               value="Plotting"
                               id="plotting">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xl-5 unset_position" style="position: unset !important;margin: auto;">
            <div class="card-body ">
                <div class="" style="display: flex;flex-direction: column;text-align: center">
                    <form action="{% url 'webApp:home' %}" method="POST" id="form1"
                          style="display: flex;flex-direction: column;text-align: center">
                        {% csrf_token %}
                        {#                    <input hidden type="file" value="بررسی" class="btn btn-primary btn-sm btn-font"#}
                        {#                           id="uploaded" name="uploaded" multiple=true>#}
                        {#                    <input type="file" onchange="this.form.submit()"  class="btn btn-font " style="margin-top: 17px;background-color: cornflowerblue;" value="Plotting File"#}
                        {#                           id="fileplotting">#}
                        <input type="file" id="file" style="display:none;"/>
                        <button id="button" name="button" value="Upload" class="btn "
                                style="height: 69px;margin-top: 17px;background-color: cornflowerblue;font-size: 13px"
                                onclick="thisFileUpload();">Plotting File
                        </button>

                    </form>
                </div>
            </div>
        </div>

    </div>
    {% include 'slider.html' %}

    <div class="form-row col-xl-12 unset_position" style="position: unset;margin-top: 30px">
        <div class=" col-xl-4" style="position: unset !important;margin: auto;">
            <div style="display: flex;flex-direction: column;text-align: center;background-color: cornflowerblue;padding: 15px;"
                 class="card-border unset_position">

                <label class="col-xl-12 unset_position">Number of processes performed : 3 </label>

            </div>
            <div class=" ">
                <div class="" style="display: flex;flex-direction: column;text-align: center">
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    function thisFileUpload() {
        document.getElementById("file").click();
    }
</script>
<script>
    if (document.getElementById('alert').style.display == "block") {
        setTimeout(function () {
            document.getElementById('alert').style.display = "none"
        }, 3000);
    }
</script>


{##}
{#<script>#}
{#    $('#passportNo').bind('keyup', function () {#}
{#        $(this).val($(this).val().replace(/[^a-z-0-9 ]/i, ""))#}
{##}
{#    });#}
{#    $('#mobileNo').bind('keyup', function () {#}
{#        $(this).val($(this).val().replace(/[^0-9-۰-۹ ]/i, ""))#}
{##}
{#    });#}
{#</script>#}

</body>

</html>