{#<h1>Incredibly Basic Slider</h1>#}
{% load static %}

<div id="slider">
    <a class="control_next">>></a>
    <a class="control_prev"><</a>
    <ul>
        <li><img class="process_img" src="{% static "image/processes0.jpg" %}"></li>
        <li><img class="process_img" src="{% static "image/processes1.jpg" %}"></li>
        <li><img class="process_img" src="{% static "image/processes2.jpg" %}"></li>
        <li><img class="process_img" src="{% static "image/processes3.jpg" %}"></li>
    </ul>
</div>

{#<div class="slider_option">#}
{#  <input type="checkbox" id="checkbox">#}
{#  <label for="checkbox">Autoplay Slider</label>#}
{#</div> #}

